@media screen and (max-width: 768px) {
  .place__image_element_forest {
    grid-column: 1;
    grid-row: 2;
  }
}

@media screen and (max-width: 568px) {
  .place__image_element_forest {
    grid-column: 1;
    grid-row: 1;
  }
}
