.heading__title {
   font-family: "PT Sans Narrow", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  padding: 0 0 32px;
  text-transform: uppercase;
  color: #fecda7;
  font-size: 13px;
}

@media screen and (max-width: 568px) {
  .heading__title {
    padding: 0 0 16px;
  }
}
