.people__header-subtitle {
  font-family: "PT Sans Narrow", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  padding: 16px 0;
  text-transform: uppercase;
  color: #fecda7;
  font-size: 13px;
}
@media screen and (max-width: 568px) {
  .people__header-subtitle {
    padding: 0;
  }
}
