.people__header-subtitle {
  padding: 0;
  margin: 16px 0 123px;
  max-width: 450px;
}
@media screen and (max-width: 1024px) {
  .people__header-subtitle {
    margin: 16px 0 50px;
  }
}
@media screen and (max-width: 568px) {
  .people__header-subtitle {
    max-width: none;
    margin: 16px 0 30px;
  }
}
