.people__columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 55px;
}
@media screen and (max-width: 1024px) {
  .people__columns {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 60px;
  }
}
@media screen and (max-width: 568px) {
  .people__columns {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
  }
}
