.header__menu {
  display: flex;
}
@media screen and (max-width: 568px) {
  .header__menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 60px 10px 20px 20px;
    transition: all 0.3s ease 0s;
  }
  .header__menu.active {
    left: 0;
  }
}
