.place__image {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 535px;
}

@media screen and (max-width: 1152px) {
  .place__image {
    height: 470px;
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    height: 350px;
  }
}
