.place__text {
  font-family: "Inter", "Arial", sans-serif;
  padding: 65px;
}

@media screen and (max-width: 1030px) {
  .place__text {
    padding: 40px;
  }
}

@media screen and (max-width: 768px) {
  .place__text {
    padding: 25px;
  }
}

@media screen and (max-width: 568px) {
  .place__text {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
  }
}
