.item-people__content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  gap: 26px;
}
@media screen and (max-width: 568px) {
  .item-people__content {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 10px;
  }
}
