.heading__subtitle {
  font-family: "Inter", "Arial", sans-serif;
  margin: 0;
  font-size: 33px;
  font-weight: 700;
  max-width: 590px;
  line-height: 1.2;
  letter-spacing: 0.2px;
  padding: 16px 13% 0 0;
}

@media screen and (max-width: 757px) {
  .heading__subtitle {
    font-size: 23px;
  }
}

@media screen and (max-width: 568px) {
  .heading__subtitle {
    font-size: 23px;
    max-width: none;
    padding: 16px 20px 25px 0;
  }
}
