.heading__subtitle {
  margin: 0;
  font-size: 33px;
  font-weight: 700;
  max-width: 650px;
  line-height: 1.2;
  letter-spacing: 0.2px;
}

@media screen and (max-width: 1024px) {
  .heading__subtitle {
  }
}

@media screen and (max-width: 568px) {
  .heading__subtitle {
    font-size: 23px;
  }
}
