.header__container {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 50px 68px;
}

@media screen and (max-width: 984px) {
  .header__container {
     padding: 50px 40px;
  }
}
@media screen and (max-width: 568px) {
  .header__container {
    padding: 50px 30px;
  }
}
