.header__container {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 68px;
}

@media screen and (max-width: 1024px) {
  .header__container {
    padding: 0 40px;
  }
}
@media screen and (max-width: 568px) {
  .header__container {
    padding: 0 20px;
  }
}
