.header__burger {
  display: none;
}

@media screen and (max-width: 568px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #000;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    position: absolute;
    background-color: #000;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active span {
    transform: scale(0);
  }
}
