.intro__image {
  justify-self: center;
  max-width: 330px;
  max-height: 330px;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 550px) {
  .intro__image {
    max-width: 230px;
    max-height: 230px;
  }
}
